CONFIG_JUFF_BOARD_WAVESHARE_LCD_35=y
CONFIG_ESP32S3_DATA_CACHE_64KB=y
CONFIG_ESP32S3_DATA_CACHE_LINE_64B=y
# Leave internal RAM for the larger display, DMA, DSP work buffers and stacks.
CONFIG_BT_NIMBLE_MEM_ALLOC_MODE_EXTERNAL=y
